{% extends 'base.html.twig' %}

{% block title %}editer equipement{% endblock %}

{% block content %}
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Editer un equipement</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Form Elements</div>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'class': 'row'}})}}
                            <div class="col-md-6 col-lg-4 form-group">{{ form_row(form.numeroSerie) }}</div>
                            <div class="col-md-6 col-lg-4 form-group">{{ form_row(form.dateDacquisition)}}</div>
                            <div class="col-md-6 col-lg-4 form-group">{{ form_row(form.vehicule) }}</div>
                            <div class="col-md-5 form-group">
                                <button class="btn btn-primary">Modifier</button>
                            </div>
                            
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

