{% extends 'base.html.twig' %}

{% block title %}ajout utilisateur{% endblock %}

{% block content %}
<div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Ajouter utilisateur</h2>
                </div>
            </div>
        </div>
    </div>
      <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Form Elements</div>
                    </div>
                    <div class="card-body">
                        {% trans_default_domain 'FOSUserBundle' %}

                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register row'}}) }}
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    {{ form_label(form.nom) }}
                                    {{ form_widget(form.nom) }}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    {{ form_label(form.prenom) }}
                                    {{ form_widget(form.prenom) }}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    {{ form_label(form.telephone) }}
                                    {{ form_widget(form.telephone) }}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    {{ form_label(form.username,'Nom utilisateur') }}
                                    {{ form_widget(form.username) }}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    {{ form_label(form.plainPassword.first,'Mot de passe') }}
                                    {{ form_widget(form.plainPassword.first) }}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    {{ form_label(form.plainPassword.second,'Confirmer mot de passe') }}
                                    {{ form_widget(form.plainPassword.second) }}
                                </div>
                            </div>
                            
                   
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-success" type="submit">Enregistrer</button>
                                    </div>
                                </div>
               
                        {{ form_end(form) }}
                        
                    </div>
                </div>
            </div>
		</div>
    </div>

{% endblock %}